body {
    font-family: 
    "Helvetica Neue", 
    "Roboto", 
    "Verdana", 
    sans-serif;
    color: rgb(8, 8, 8);
    background-color
}

 /* Скасовуємо підкреслення у посилань */
 a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color
  }
  
  a:hover {
    text-decoration: none;
    color: #2ecc71
  }
  
  a:active {
    text-decoration: none;
  }